components:
  schemas:
    Alive:
      properties:
        app:
          example: I'm alive!
          type: string
      type: object
    Ping:
      properties:
        message:
          example: PONG
          type: string
      type: object
info:
  title: standard-manager-api
  version: 1.0.0
openapi: 3.0.2
paths:
  /alive:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alive'
          description: Success response
      summary: Service Health Method
  /ping:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ping'
          description: Success response
      summary: Ping method
  /v1/standard:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardListResponseSchema'
          description: Success response
      summary: List all standards
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StandardCreateRequest'
        description: Objeto a ser criado
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardCreateResponseSchema'
      summary: Create Standard
  /v1/standard/{uuid}:
    delete:
      parameters:
      - description: Standard uuid
        in: path
        name: uuid
        required: true
        schema:
          format: UUID
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardDeleteResponseSchema'
      summary: Delete Standard
    get:
      parameters:
      - description: Standard uuid
        in: path
        name: uuid
        required: true
        schema:
          format: UUID
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardGetResponseSchema'
          description: Success response
      summary: Get Standard
    put:
      parameters:
      - description: Standard uuid
        in: path
        name: uuid
        required: true
        schema:
          format: UUID
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StandardUpdateRequest'
        description: Objeto a ser atualizado
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardUpdateResponseSchema'
      summary: Update Standard
servers:
- description: Production server
  url: https://services.hagatus.com.br/sigo-standard
